<div class="login screen " data-id="12:365"><img class="bg-b8DrbD" data-id="12:366"
    src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/64206f21b81ac7251e378436/img/bg.png"
    anima-src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/64206f21b81ac7251e378436/img/bg.png"
    alt="bg"><img class="path-1-b8DrbD" data-id="12:368"
    src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/641b1a6adf1c709585e973c2/img/path-1@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/641b1a6adf1c709585e973c2/img/path-1@2x.png"
    alt="Path 1"><img class="login-b8DrbD" data-id="12:369"
    src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/64206f21b81ac7251e378436/img/login.png"
    anima-src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/64206f21b81ac7251e378436/img/login.png"
    alt="Login">
  <h1 class="title-b8DrbD" data-id="12:370">Sign In</h1>
  <div class="rectangle-6-b8DrbD" data-id="12:371"></div>
  <div class="rectangle-8-b8DrbD" data-id="12:372"></div>
  <div class="rectangle-4-b8DrbD" data-id="12:373"></div>
  <div class="rectangle-7-b8DrbD" data-id="12:374"></div>
  <div class="rectangle-5-b8DrbD" data-id="12:375"></div><img class="icons8-user-60-b8DrbD" data-id="12:376"
    src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/64206f21b81ac7251e378436/img/icons8-user-60.png"
    anima-src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/64206f21b81ac7251e378436/img/icons8-user-60.png"
    alt="icons8-user-60"><img class="icons8-password-1-100-1-b8DrbD" data-id="12:377"
    src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/64206f21b81ac7251e378436/img/icons8-password-1-100--1-.png"
    anima-src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/64206f21b81ac7251e378436/img/icons8-password-1-100--1-.png"
    alt="icons8-password-1-100 (1)">
  <div class="remember-me-b8DrbD" data-id="12:378">Remember me</div>
  <div class="repeat-grid-2-b8DrbD" data-id="12:387">
    <div class="group-sd5tb7 group" data-id="12:386">
      <div class="repeat-grid-1-P0WPxf" data-id="12:385">
        <div class="group-GE85q7 group" data-id="12:384">
          <div class="rectangle-9-7XaCzO" data-id="12:379"></div>
        </div>
      </div>
      <div class="text_label-P0WPxf" data-id="12:380"><a href="home">เข้าสู่ระบบ</a></div>
    </div>
  </div>
  <p class="dont-have-an-account-b8DrbD" data-id="12:381"><span class="span0-BpxMG7">Don't have an
      account?&nbsp;&nbsp;</span><span class="span1-BpxMG7"><a href="register">Register</a><br></span><span class="span2-BpxMG7">Create by
      Weerayut</span></p>
  <div class="rtarfmith-b8DrbD" data-id="12:382">@rtarf.mi.th</div>
  <div class="x-b8DrbD" data-id="12:383">***********</div>
</div>
