/* You can add global styles to this file, and also import other style files */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Inter:400");

/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/641b03faec02dc83e7200381.641b03fbebb1b03b94118f1e.DFHwkTJ.hch.png");

:root { 
    --astral: #2f84a4;
    --black: #000000;
    --dodger-blue: #2196f3;
    --fantasy: #f9f2f2;
    --green: #1cec1c;
    --pacific-blue: #179fc9;
    --rgb112-112-112: #707070;
    --rgb255-255-255: #ffffff;
    --trinidad: #e53001;
    --yellow-sunshine: #f1f907;
   
    --font-size-l: 22px;
    --font-size-m: 20px;
    --font-size-s: 17px;
    --font-size-xl: 26px;
    --font-size-xxl: 28px;
    --font-size-xxxl: 30px;
    --font-size-xxxxl: 35px;
   
    --font-family-inter: "Inter", Helvetica;
  }