<div class="home screen " data-id="2:354" onclick="window.open('javascript:history.back()', '_self');">
  <div class="home-xl4bh6" data-id="o0OTMvJMrSEhqoD7">
    <div class="rectangle-1-DDEW5g" data-id="2:355"></div><img class="path-1-DDEW5g" data-id="2:357"
      src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/641b1a6adf1c709585e973c2/img/path-1@2x.png"
      alt="Path 1"><img class="intersection-1-DDEW5g" data-id="2:359"
      src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/641b1a6adf1c709585e973c2/img/intersection-1@2x.png"
      alt="Intersection 1">
    <div class="home-DDEW5g" data-id="2:360">HOME</div>
    <h1 class="x-DDEW5g" data-id="2:361">ระบบสำนักงานอิเล็กทรอนิกส์<br>กฝอ.สส.ทหาร</h1><img class="logo-DDEW5g"
      data-id="2:362"
      src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/641b1a6adf1c709585e973c2/img/logo.png"
      alt="logo"><img class="icon-home-DDEW5g" data-id="2:363"
      src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/641b1a6adf1c709585e973c2/img/home-48.png"
      alt="icon-home"><img class="icons8-rich-text-converter-48-DDEW5g" data-id="2:364"
      src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/641b1a6adf1c709585e973c2/img/icons8-rich-text-converter-48.png"
      alt="icons8-rich-text-converter-48"><a
      onclick="ShowOverlay('user-1', 'animate-appear');window.event.stopPropagation()"><img
        class="icons8-laptop-alert-100-DDEW5g" data-id="2:365"
        src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/641b1a6adf1c709585e973c2/img/icons8-laptop-alert-100.png"
        alt="icons8-laptop-alert-100"></a><img class="icons8-account-100-DDEW5g" data-id="2:366"
      src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/641b1a6adf1c709585e973c2/img/icons8-account-100.png"
      alt="icons8-account-100"><img class="menu-100_2-DDEW5g" data-id="2:367"
      src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/641b1a6adf1c709585e973c2/img/menu-100-2.png"
      alt="menu-100_2">
  </div>
</div>
