<div class="register screen " data-id="2:11"><img class="path-1-Qolay1" data-id="2:13"
    src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/641b1a6adf1c709585e973c2/img/path-1@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/641b1a6adf1c709585e973c2/img/path-1@2x.png"
    alt="Path 1">
  <h1 class="title-Qolay1" data-id="2:14">Register</h1>
  <div class="group-2-Qolay1" data-id="2:43">
    <div class="rectangle-9-FQypjP" data-id="2:15"></div>
    <div class="text_label-FQypjP text_label" data-id="2:16"><a href="signin">ลงทะเบียน</a></div>
  </div>
  <p class="have-an-account-logincreate-by-weerayut-Qolay1" data-id="2:17"><span class="span0-zWAhhC">Have an
      account?</span><span class="span1-zWAhhC"> Login<br></span><span class="span2-zWAhhC">Create by Weerayut</span>
  </p><img class="register-Qolay1" data-id="2:18"
    src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/64206f21b81ac7251e378436/img/register.png"
    anima-src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/64206f21b81ac7251e378436/img/register.png"
    alt="register">
  <div class="group-1-Qolay1" data-id="2:44">
    <div class="rectangle-8-IjiNR4" data-id="2:19"></div>
    <div class="rectangle-7-IjiNR4" data-id="2:20"></div><img class="icon-search-IjiNR4" data-id="2:21"
      src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/64206f21b81ac7251e378436/img/icons8-password-1-100--1-.png"
      anima-src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/64206f21b81ac7251e378436/img/icons8-password-1-100--1-.png"
      alt="icon-search">
  </div>
  <div class="group-3-Qolay1" data-id="2:45">
    <div class="rectangle-6-SlBFxP rectangle-6" data-id="2:22"></div>
    <div class="rectangle-4-SlBFxP rectangle-4" data-id="2:23"></div>
    <div class="text_label-SlBFxP text_label inter-normal-cod-gray-24px" data-id="2:24">ยศ</div>
  </div>
  <div class="group-4-Qolay1" data-id="2:46">
    <div class="rectangle-6-vtbGj7 rectangle-6" data-id="2:25"></div>
    <div class="rectangle-4-vtbGj7 rectangle-4" data-id="2:26"></div><img class="icon-user" data-id="2:27"
      src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/64206f21b81ac7251e378436/img/icons8-user-60.png"
      anima-src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/64206f21b81ac7251e378436/img/icons8-user-60.png"
      alt="icon-user">
    <div class="text_label-vtbGj7 text_label" data-id="2:28"><span
        class="span0-7xaE9E inter-normal-cod-gray-24px">ชื่อ</span></div>
  </div>
  <div class="group-5-Qolay1" data-id="2:47">
    <div class="rectangle-6-6cvidr rectangle-6" data-id="2:29"></div>
    <div class="rectangle-4-6cvidr rectangle-4" data-id="2:30"></div><img class="icon-user" data-id="2:31"
      src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/64206f21b81ac7251e378436/img/icons8-user-60.png"
      anima-src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/64206f21b81ac7251e378436/img/icons8-user-60.png"
      alt="icon-user">
    <div class="text_label-6cvidr text_label" data-id="2:32"><span
        class="span0-tRYV7J inter-normal-cod-gray-24px">นามสกุล</span></div>
  </div>
  <div class="rectangle-6-Qolay1 rectangle-6" data-id="2:33"></div>
  <div class="rectangle-10-Qolay1" data-id="2:34"></div>
  <div class="rectangle-4-Qolay1 rectangle-4" data-id="2:35"></div>
  <div class="rectangle-11-Qolay1" data-id="2:36"></div>
  <div class="text_label-Qolay1 text_label" data-id="2:37">หมายเลขประจำตัวทหาร</div><img
    class="icons8-sergeant-major-of-army-sma-100-Qolay1" data-id="2:38"
    src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/64206f21b81ac7251e378436/img/icons8-sergeant-major-of-army-sma-100.png"
    anima-src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/64206f21b81ac7251e378436/img/icons8-sergeant-major-of-army-sma-100.png"
    alt="icons8-sergeant-major-of-army-sma-100"><img class="icons8-name-tag-100-Qolay1" data-id="2:39"
    src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/64206f21b81ac7251e378436/img/icons8-name-tag-100.png"
    anima-src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/64206f21b81ac7251e378436/img/icons8-name-tag-100.png"
    alt="icons8-name-tag-100"><img class="icons8-email-52-Qolay1" data-id="2:40"
    src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/64206f21b81ac7251e378436/img/icons8-email-52.png"
    anima-src="https://cdn.animaapp.com/projects/641b03fd25c3038155616ccc/releases/64206f21b81ac7251e378436/img/icons8-email-52.png"
    alt="icons8-email-52">
  <div class="rtarfmith-Qolay1 inter-normal-cod-gray-24px" data-id="2:41">@rtarf.mi.th</div>
  <div class="text_label-SVfk6o text_label inter-normal-cod-gray-24px" data-id="2:42">กำหนดรหัสผ่าน</div>
</div>

